<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 | @author Benjamin P. Jung
 !-->
<configuration debug="false" scan="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss} %-5level %msg [%file:%line]%n</pattern>
		</encoder>
	</appender>

	<root level="trace">
		<appender-ref ref="STDOUT"/>
	</root>

</configuration>
